@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #6c54d8;
}

@layer utilities {
  .rotate-y-90 {
    transform: rotateY(90deg);
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .rotate-y-270 {
    transform: rotateY(270deg);
  }
  .backface-hidden {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .backface-visible {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
}